body {
    background-color: rgb(32, 54, 46);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    transition: 2s;
}

.bk-change {
    background-color: rgb(255, 255, 255);
}

.bk-change .do-it {
    background-color: rgba(0,0,0,0);
    color: rgba(0,0,0,0);
    border: 0.3vh solid rgba(0,0,0,0);
    transition: 1s;
}

.bk-change .do-it:hover {
    background-color: rgba(0,0,0,0);
    color: rgba(0,0,0,0);
    border: 0.3vh solid rgba(0,0,0,0);

}

.button-enable .do-it {
    background-color: #ffffff;
    border: 0.3vh solid black;
    color: black;
}

.button-enable .do-it:hover {
    background-color: #ffffff;
    border: 0.3vh solid #c8a652;
    color: black;
    transition: border-color 300ms, border-radius 600ms;

}

.gray {
    background-color: gray!important;
}

.do-it {
    height: 5vh;
    width: 25vh;
    margin-top: 2vh; 
    background-color: rgb(61, 155, 236);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: border-color 300ms, border-radius 600ms, background-color 1s;
    font-size: 3vh;
    user-select: none;
    font-family: 'Lobster Two', cursive;
    border-radius: 5vh;
    border: 0.3vh solid black;
}

.do-it:hover {
    border-radius: 1vh;
    border: 0.3vh solid rgb(61, 155, 236);

}

.do-it-text {
    width: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 1.5vh;
}

.Something-nice {
    height: 100%;
    width: 100%;
    max-height: 87vh;
    max-width: 87vh;
}

.path {
    stroke:#000000;
    stroke-width:6;
    stroke-miterlimit:10;
    transition-duration: 0s;
    fill: none;
    fill: transparent;
}

.path2 path {
    /* transition-duration: 2s!important; */
    transition-delay: 0s!important;
}






/* shield over left */
#path-1 {
    stroke-dashoffset: 2950px;
    stroke-dasharray: 2950px;}
/* shield over right */
#path-2 {
    stroke-dashoffset: 2950px;
    stroke-dasharray: 2950px;}
/* shield inner left */
#path-3 {
    stroke-dashoffset: 4360px;
    stroke-dasharray: 4360px;}
/* shield inner right */
#path-4 {
    stroke-dashoffset: 4360px;
    stroke-dasharray: 4360px;}




/* horizontal spacer */
#path-5 {
    stroke-dashoffset: 690px;
    stroke-dasharray: 690px;}
/* L */
#path-6 {
    stroke-dashoffset: 1400px;
    stroke-dasharray: 1400px;}
/* A */
#path-7 {
    stroke-dashoffset: 960px;
    stroke-dasharray: 960px;}
/* a */
#path-8 {
    stroke-dashoffset: 150px;
    stroke-dasharray: 150px;}
/* N */
#path-9 {
    stroke-dashoffset: 3250px;
    stroke-dasharray: 3250px;}






/* C */
#path-10 {
    stroke-dashoffset: 4230px;
    stroke-dasharray: 4230px;}
/* E */
#path-11 {
    stroke-dashoffset: 2200px;
    stroke-dasharray: 2200px;}
/* [] */
#path-12 {
    stroke-dashoffset: 390px;
    stroke-dasharray: 390px;}






/* P */
#path-13 {
    stroke-dashoffset: 1430px;
    stroke-dasharray: 1430px;
}

/* A */
#path-14 {
    stroke-dashoffset: 1530px;
    stroke-dasharray: 1530px;
}

/* a */
#path-15 {
    stroke-dashoffset: 400px;
    stroke-dasharray: 400px;
}

/* p */
#path-16 {
    stroke-dashoffset: 520px;
    stroke-dasharray: 520px;
}





/* shield over left */
.svg-fix #path-1 {
    transition-duration: 2s;}
/* shield over right */
.svg-fix #path-2 {
    transition-duration: 2s;}
/* shield inner left */
.svg-fix #path-3 {
    transition-duration: 2s;}
/* shield inner right */
.svg-fix #path-4 {
    transition-duration: 2s;}




/* horizontal spacer */
.svg-fix #path-5 {
    transition-duration: 2s;
    transition-delay: 4s;}
/* L */
.svg-fix #path-6 {
    transition-duration: 2s;
    transition-delay: 4s;}
/* A */
.svg-fix #path-7 {
    transition-duration: 2s;
    transition-delay: 4s;}
/* a */
.svg-fix #path-8 {
    transition-duration: 2s;
    transition-delay: 4s;}
/* N */
.svg-fix #path-9 {
    transition-delay: 4s;
    transition-duration: 2.5s;}






/* C */
.svg-fix #path-10 {
    transition-delay: 7.5s;
    transition-duration: 3s;}
/* E */
.svg-fix #path-11 {
    transition-delay: 7.5s;
    transition-duration: 3s;}
/* [] */
.svg-fix #path-12 {
    transition-delay: 9.5s;
    transition-duration: 1s;}






/* P */
.svg-fix #path-13 {
    transition-delay: 11.5s;
    transition-duration: 2s;
}

/* A */
.svg-fix #path-14 {
    transition-delay: 11.5s;
    transition-duration: 2s;
}

/* a */
.svg-fix #path-15 {
    transition-delay: 12.5s;
    transition-duration: 1s;
}

/* p */
.svg-fix #path-16 {
    transition-delay: 12.5s;
    transition-duration: 1s;
}



/* shield over left */
.breathe #path-1 {
    stroke-dashoffset: 5900px;
    stroke-dasharray: 2950px;
}

/* shield over right */
.breathe #path-2 {
    stroke-dashoffset: 0px;
    stroke-dasharray: 2950px;
}

/* shield inner left */
.breathe #path-3 {
    stroke-dashoffset: 8720px;
    stroke-dasharray: 4360px;
}

/* shield inner right */
.breathe #path-4 {
    stroke-dashoffset: 0px;
    stroke-dasharray: 4360px;
}

/* horizontal spacer */
.breathe #path-5 {
    stroke-dashoffset: 1380px;
    stroke-dasharray: 690px;
}

/* L */
.breathe #path-6 {
    stroke-dashoffset: 2800px;
    stroke-dasharray: 1400px;
}

/* A */
.breathe #path-7 {
    stroke-dashoffset: 0px;
    stroke-dasharray: 960px;
}

/* a */
.breathe #path-8 {
    stroke-dashoffset: 300px;
    stroke-dasharray: 150px;
}

/* N */
.breathe #path-9 {
    stroke-dashoffset: 6500px;
    stroke-dasharray: 3250px;
}


/* C */
.breathe #path-10 {
    stroke-dashoffset: 8460px;
    stroke-dasharray: 4230px;
}
/* E */
.breathe #path-11 {
    stroke-dashoffset: 4400px;
    stroke-dasharray: 2200px;
}
/* [] */
.breathe #path-12 {
    stroke-dashoffset: 780px;
    stroke-dasharray: 390px;
}


/* P */
.breathe #path-13 {
    stroke-dashoffset: 2860px;
    stroke-dasharray: 1430px;
}

/* A */
.breathe #path-14 {
    stroke-dashoffset: 3060px;
    stroke-dasharray: 1530px;
}

/* a */
.breathe #path-15 {
    stroke-dashoffset: 800px;
    stroke-dasharray: 400px;
}

/* p */
.breathe #path-16 {
    stroke-dashoffset: 1040px;
    stroke-dasharray: 520px;
}






/* shield over left */
.fill-shield #path-1 {
    transition-delay: 0;
    fill: #c8a652;
}

/* shield over right */
.fill-shield #path-2 {
    transition-delay: 0;
    fill: #000000;
}

/* shield inner left */
.fill-shield #path-3 {
    transition-delay: 0s;
    transition-duration: 0s;
    fill: rgb(255, 255, 255);
}

/* shield inner right */
.fill-shield #path-4 {
    transition-delay: 0s;
    transition-duration: 0s;
    fill: rgb(255, 255, 255);
}





/* horizontal spacer */
/* .fill-shield #path-5 {
    transition-delay: 4.5s;
    fill: red;
} */

/* L */
.fill-shield #path-6 {
    transition-delay: 4.5s;
    fill: #c8a652;
}

/* A */
.fill-shield #path-7 {
    transition-delay: 4.5s;
    fill: rgb(0, 0, 0);
}

/* a */
.fill-shield #path-8 {
    transition-delay: 4.5s;
    fill: rgb(255, 255, 255);
    transition-duration: 0s;
}

/* N */
.fill-shield #path-9 {
    transition-delay: 4.5s;
    fill: #c8a652;
    transition-duration: 2s;
}






/* C */
.fill-shield #path-10 {
    transition-delay: 8.5s;
    transition-duration: 2s;
    fill: #c8a652;
}
/* E */
.fill-shield #path-11 {
    transition-delay: 8.5s;
    transition-duration: 2s;
    fill: rgb(0, 0, 0);
}
/* [] */
.fill-shield #path-12 {
    transition-delay: 8.5s;
    transition-duration: 2s;
    fill: #c8a652;
}


/* P */
.fill-shield #path-13 {
    transition-delay: 11.5s;
    fill: rgb(0, 0, 0);
}

/* A */
.fill-shield #path-14 {
    transition-delay: 11.5s;
    fill: #c8a652;
}

/* a */
.fill-shield #path-15 {
    fill: rgb(255, 255, 255);
    transition-duration: 0s;
    transition-delay: 10.5s;
}

/* p */
.fill-shield #path-16 {
    fill: rgb(255, 255, 255);
    transition-duration: 0s;
    transition-delay: 10.5s;
}




/* C */
.fill-C #path-10 {
    transition-delay: 0s;
    fill: #c8a652;
}
/* E */
.fill-C #path-11 {
    transition-delay: 0s;
    fill: rgba(0, 0, 0, 1);
}
/* [] */
.fill-C #path-12 {
    transition-delay: 0s;
    fill: #c8a652;
}




/* a */
.fill-C #path-8 {
    transition-delay: 1.5s;
    transition-duration: .5s;
    fill: rgb(255, 255, 255);
}

/* p */
.fill-C #path-16 {
    transition-delay: 1.5s;
    transition-duration: .5s;
    fill: rgb(255, 255, 255);
}

/* a */
.fill-C #path-15 {
    transition-delay: 1.5s;
    transition-duration: .5s;
    fill: rgb(255, 255, 255);
}



/* shield inner left */
.fill-C #path-3 {
    transition-delay: 1.5s;
    transition-duration: .5s;
    fill: rgb(255, 255, 255);
}

/* shield inner right */
.fill-C #path-4 {
    transition-delay: 1.5s;
    transition-duration: .5s;
    fill: rgb(255, 255, 255);
}